/*
Nome: Thales de Azevedo Cardoso
Data: 01/08/2023

cores:
    Azul: #33A8DB

gradiente:
    #3BA1CD
    #1572B7
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

body {
    background-color: black;
}

h1 {
    font-size: 40px;
    font-weight: 900;
    line-height: 47px;
    color: #31A8DD;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    color: #31A8DD;
}

p {
    font-size: 16px;
    font-weight: 400;
}

/*********************************************
        ESTILO DO TOPO
**********************************************/

header {
    height: 605px;
    padding-top: 56px;
    border-bottom: 1px solid #33A8DB;
    background-image: url(../images/banner.png);
    text-align: center;
}

header .banner-content {
    width: 510px;
    margin: 0 auto;
}

header .banner-content .logo {
    width: 268px;
    height: 268px;
    border-radius: 268px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.20);
    display: flex;
}

header .banner-content .logo img {
    object-fit: contain;
}

header .banner-content h1 {
    margin: 16px auto;
    background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .banner-content p {
    width: 520px;
    font-size: 20px;
    margin-bottom: 24px;
    text-align: center;
    color: white;
}

header button {
    background: rgba(0, 0, 0, 0);
    border: 3px solid;
    border-image-source: linear-gradient(#3BA1CD, #1572B7);
    border-image-slice: 10;
    padding: 19px 91px;
    color: #31A8DD;
    text-align: center;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 3.36px;
    cursor: pointer;
}


/*********************************************
        ESTILO DO MAIN
**********************************************/

main {
    background-color: black;
    padding: 120px 0 0;
}

main section.course-content {
    width: 792px;
    margin: 0 auto 120px auto;
}

main .course-content h2 {
    text-align: center;
    letter-spacing: 6px;
}

main .course-content p {
    text-align: center;
    font-size: 16px;
    margin: 24px 0;
    color: white;
}

main .modules-list .module {
    width: 535px;
    padding: 16px 30px;
    margin: 0 auto 24px auto;
    border-radius: 57px;
    border: 1px solid #33A8DB;
    background: #252525;
    box-shadow: -2px 6px 4px 0px rgba(0, 0, 0, 0.40) inset;
    text-align: center;
    color: white;
}

main .modules-list div.module span {
    color: #33A8DB;
}

main #transform-world {
    height: 350px;
    position: relative;
    background-image: url(../images/woman-code.png);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    border-top: 1px solid #33A8DB;
    border-bottom: 1px solid #33A8DB;
}

main #transform-world p {
    width: 245px;
    font-size: 40px;
    font-weight: 900;
    color: white;
    text-shadow: 3px 2px 0 #33A8DB;
    position: absolute;
    top: 100px;
    left: 195px;
}

main #professional-challenges {
    margin: 80px auto 91px;
    width: 800px;
}

main #professional-challenges h2 {
    line-height: 37.6px;
    text-align: center;
    letter-spacing: 6px;
    margin-bottom: 32px;
}

main #professional-challenges img {
    width: 660px;
    display: block;
    margin: 0 auto 40px;
}

main #professional-challenges p {
    color: white;
    text-align: center;
    line-height: normal;
}

/*********************************************
        ESTILO DO FOOTER
**********************************************/

footer {
    height: 170px;
    padding-top: 60px;
    border-top: 1px solid #33A8DB;
}

footer img {
    width: 310px;
    display: block;
    margin: 0 auto;
}

footer p {
    width: 300px;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: white;
}

footer p a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #33A8DB;
}
